ion-card {
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(220, 11, 44, 0.3);
    background-color: #f8f8f8;
    padding: 0px 8px;
    width: 170px;
    height: 210px;
    margin: 0;
}

ion-card-header {
    color: white;
    border-radius: 15px 15px 0 0;
    padding: 0rem;
}

ion-card-content {
    padding: 0.5rem;
    text-align: center;
}

.pokemon-id {
    font-weight: bold;
    font-size: .8rem;
    color: #9ea5ab;
}

.pokemon-nome {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #445c7c;
}

ion-card-content p {
    font-size: 1rem;
    color: #444;
}

img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.pokemon-tipos {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
}

.pokemon-tipo {
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #fff;
}