<ion-card>
  <img [src]="pokemon.image" alt="{{ pokemon.forms[0]?.name }}" />
  <ion-card-header>
    <span class="pokemon-id">N°{{ pokemon.id }}</span>
    <span class="pokemon-nome">{{ pokemon.forms[0]?.name }}</span>
  </ion-card-header>
  <ion-card-content>
    <div class="pokemon-tipos">
      <span class="pokemon-tipo" [ngStyle]="{ 'background-color': getTypeColor(tipo.type.name) }"
        *ngFor="let tipo of pokemon.types">
        {{ tipo.type.name }}
      </span>
    </div>
  </ion-card-content>
</ion-card>