<ion-content [fullscreen]="true">
  <main class="container">
    <header class="barra-navegacao">
      <div class="logo-pokedex">
        <img src="assets/icon/pokedex-logo.svg" alt="Pokédex Logo" style="width: 25px; height: 25px;" />
        <strong>Pokedex</strong>
      </div>
      <nav class="barra-busca">
        <form class="d-flex justify-between align-center" style="width: 90%;" (submit)="onPokemonSearch($event)">
          <input class="busca-pokemon" type="text" placeholder="Busque pelo nome ou número" [(ngModel)]="searchTerm"
            name="search" />

          <img class="btn-buscar" src="assets/icon/pokedex-logo.svg" alt="Pokédex Logo"
            style="width: 30px; height: 30px; cursor: pointer;" (click)="onPokemonSearch($event)" />
        </form>
      </nav>
    </header>

    <section class="container-pokemon">
      <form action="">
        <div class="form-filtros">
          <button class="asc-desc-btn" type="button" (click)="toggleSortDirection()">
            <span *ngIf="sortDirection === 'asc'">Asc &#9650;</span>
            <span *ngIf="sortDirection === 'desc'">Desc &#9660;</span>
          </button>
          <div class="form-range flex-column align-end">
            <div class="d-flex justify-end align-center" style="gap:10px; margin-bottom: 10px;">
              <input class="range-input" type="number" [value]="newLowerValue" (input)="onInputChange($event, 'lower')">
              <p>de</p>
              <input class="range-input" type="number" [value]="newUpperValue" (input)="onInputChange($event, 'upper')">
            </div>

            <div class="range-slider">
              <ion-range aria-label="Dual Knobs Range" [dualKnobs]="true" [min]="minValue" [max]="maxValue"
                [value]="{ lower: newLowerValue, upper: newUpperValue }" (ionChange)="onRangeChange($event)">
              </ion-range>
            </div>
          </div>
        </div>
        <div></div>
        <div>

        </div>
      </form>
      <ul class="lista-pokemon">
        <app-pokemon-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></app-pokemon-card>
      </ul>
    </section>
  </main>
</ion-content>