<ion-content [fullscreen]="true">
  <main class="container">
    <header class="barra-navegacao">
      <div class="logo-pokedex">
        <img src="assets/icon/pokedex-logo.svg" alt="Pokédex Logo" style="width: 25px; height: 25px;" />
        <strong>Pokedex</strong>
      </div>
      <nav class="barra-busca">
        <input class="busca-pokemon" type="text" placeholder="Busque pelo nome ou número">
        <img class="btn-buscar" src="assets/icon/pokedex-logo.svg" alt="Pokédex Logo"
          style="width: 30px; height: 30px;" />
      </nav>
    </header>

    <section class="container-pokemon">
      <ul class="lista-pokemon">
        <app-pokemon-card *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></app-pokemon-card>
      </ul>
    </section>
  </main>
</ion-content>